<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Suite1" verbose="1">

    <listeners>
        <listener class-name="sampleTest.Base.TestListener"></listener>
    </listeners>
    
    <test name="Android">
        <parameter name="platform" value="android"></parameter>
        <classes>
            <class name="android.testCases.case_demoGiris" />
        </classes >
    </test>


</suite>